.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.focus ul {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;

}

.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
    overflow: hidden;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;

}

.current {
    background-color: #fff;
}


.newflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e902';
}

.news-bd {
    padding: 5px 15px 0;
}


.news-bd ul li {
    /* position: relative; */
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



.lifeservice {
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul .jian {
    position: relative;
}

.lifeservice ul .jian span {
    position: absolute;
    top: -3px;
    right: 0;
}

.lifeservice ul li i {
    display: inline-block;
    width: 26px;
    height: 24px;
    margin-top: 12px;

}

.lifeservice ul li:nth-child(1) i {
    background: url(../images/icons.png) no-repeat -17px -15px;
}

.lifeservice ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -78px -15px;
}

.lifeservice ul li:nth-child(3) i {
    width: 26px;
    height: 25px;
    background: url(../images/icons.png) no-repeat -140px -15px;
}

.lifeservice ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -206px -15px;
}

.lifeservice ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -17px -88px;
}

.lifeservice ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -78px -88px;
}

.lifeservice ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -140px -88px;
}

.lifeservice ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -206px -88px;
}

.lifeservice ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -17px -159px;
}

.lifeservice ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -78px -159px;
}

.lifeservice ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -140px -159px;
}

.lifeservice ul li:nth-child(12) i {
    background: url(../images/icons.png) no-repeat -206px -159px;
}

.bargain {
    margin-top: 5px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
}

.recom_hd .img {
    float: left;
}

.recom_hd .img1 {
    text-align: center;
    padding: 30px 68px 10px;
}

.recom_hd h3 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

.recom_hd .img2 {
    text-align: center;
    padding: 0 60px 46px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    float: left;
    width: 246px;
    text-align: center;
}

.recom_bd ul li::after {
    content: '';
    width: 1px;
    height: 145px;
    background-color: #dddddd;
}

/* 家用电器 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-weight: 400;
    font-size: 18px;
    color: #c81623;
}

.tab_list {
    float: right;
}

.tab_list ul li {
    float: left;
    line-height: 30px;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;

}

.box_bd {
    height: 361px;
    background-color: #ffffff;
}

.tab_list_item>div {
    float: left;
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.dianshi img:nth-child(1) {
    position: absolute;
}

.dianshi {
    position: relative;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
    /* border: 1px solid #ccc; */
}

.col_219 {
    width: 219px;
}

.bb {
    display: block;
    border-top: 1px solid #ccc;
}

.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -713px;
    width: 66px;
    background-color: #fff;
    display: none;
}

.fixedtool li {
    height: 32px;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}